In [131]:
import pandas as pd
import numpy as np

# Load initial data
scriptures = pd.read_csv("scriptures.csv")
names = pd.read_csv("savior_names.csv")

In [83]:
scriptures.head()

,volume_id,book_id,chapter_id,verse_id,volume_title,book_title,volume_long_title,book_long_title,volume_subtitle,book_subtitle,volume_short_title,book_short_title,volume_lds_url,book_lds_url,chapter_number,verse_number,scripture_text,verse_title,verse_short_title
0,1,1,1,1,Old Testament,Genesis,The Old Testament,The First Book of Moses called Genesis,NaN,NaN,OT,Gen.,ot,gen,1,1,IN the beginning God created the heaven and th...,Genesis 1:1,Gen. 1:1
1,1,1,1,2,Old Testament,Genesis,The Old Testament,The First Book of Moses called Genesis,NaN,NaN,OT,Gen.,ot,gen,1,2,"And the earth was without form, and void; and ...",Genesis 1:2,Gen. 1:2
2,1,1,1,3,Old Testament,Genesis,The Old Testament,The First Book of Moses called Genesis,NaN,NaN,OT,Gen.,ot,gen,1,3,"And God said, Let there be light: and there wa...",Genesis 1:3,Gen. 1:3
3,1,1,1,4,Old Testament,Genesis,The Old Testament,The First Book of Moses called Genesis,NaN,NaN,OT,Gen.,ot,gen,1,4,"And God saw the light, that it was good: and G...",Genesis 1:4,Gen. 1:4
4,1,1,1,5,Old Testament,Genesis,The Old Testament,The First Book of Moses called Genesis,NaN,NaN,OT,Gen.,ot,gen,1,5,"And God called the light Day, and the darkness...",Genesis 1:5,Gen. 1:5

In [122]:
names.head()

,Book,chapter_verse,name,reference,nchar,words
0,Ether,4:7,"the Father of the heavens and of the earth, an...",Ether 4:7,58,12
1,Mosiah,3:8,Creator of all things from the beginning,Mosiah 3:8,40,7
2,Mormon,9:29,"Jesus Christ, the Son of the living God",Mormon 9:29,39,8
3,3 Nephi,10:10,"the Lord Jesus Christ, their Redeemer",3 Nephi 10:10,37,6
4,Mosiah,7:19,"God of Abraham, and Isaac, and Jacob",Mosiah 7:19,36,7

In [99]:
# Isolate BOM data
bom = scriptures.loc[scriptures.volume_title == "Book of Mormon", ['book_title', 'scripture_text']]

# Group the 14 books together with all verses together
bom_books = bom.groupby('book_title')['scripture_text'].apply(lambda x: " ".join(x))
bom = pd.DataFrame(bom_books)
bom.reset_index(level=0, inplace=True)

In [138]:
names_list = list(names['name'])
names_list = "|".join(names_list)
bom['scripture_text'] = bom['scripture_text'].str.replace(names_list, "<<name>>")[0]